.cuadroDiseno{
    /* background-color: rgba(59, 15, 54, 0.232); */
      display: inline-block;
      color: rgba(248, 247, 248, 0.931);
      margin: 2%;
      width: 19%;    
      padding-right: 4%;
      border-radius: 4px;
      padding: 1%;
    
      margin-top: 12%;
      
  
    }

.diseno{
    border-radius: 100%;
    border: 5px solid rgb(154, 93, 162);
    margin-bottom: -75%;
}

.disenoBox{
    background-image: url("../../src/ImagesWeb/fondo11.jpg");
    background-color: rgb(244, 238, 243);
    background-size: contain;
    background-position: 7px 126px;
    padding-bottom: 20%;
    
  }

  .carousel-container {
    position: relative;
    width: 20%;
    height: 600px; /* Ajusta el tamaño según necesites */
    /* transform: translateX(33%); */
    transform: translateX(-5%);
  
    
  }
  
  .carousel-image {
    position: absolute;
    top: 0;
    left: 168px;
    width: 190%;
    height: 100%;
    border: 4px solid white;
    border-bottom: 1px solid white;
    transition: all 0.5s ease-in-out;
    
   
  }
  
  .slide-left {
    /* transform: translateX(-200%); */
    z-index: 5;
    opacity: 0;
  }
  
  .slide-right {
    transform: translateX(100%);    
  }
  
  .current {
    transform: translateX(0);
    z-index: 10;
  }

.buttonRight{
  top: 50%;
  left: -41%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
  position:relative;
  z-index:1000;
  padding: 101%;
  padding-right: 0;
  padding-left: 32%;
  background-color: rgb(244, 238, 243);
  border-right: 15px solid rgb(244, 238, 243);
  border-left: 50px solid rgb(244, 238, 243);
  /* border: 2px solid rgb(244, 238, 243); */
  
}

.buttonLeft{
  top: 51%;
  left: 444%;
  transform: translateY(-150%);
  color: white;
  position: relative;
  z-index: 1000;
  padding: 101%;
  padding-left: 0;
  padding-right: 10%;
  background-color: rgb(244, 238, 243);
  border-right: 7px solid rgb(244, 238, 243);
  /* border: 2px solid rgb(244, 238, 243); */
  border-bottom: 3px solid white;
  width: 48.5%;
  border-top: 1px solid white;
}

.buttonRight button{
  color: rgba(182, 78, 165, 0.922);
  border: none;
  transform: scale(1.5);

}

.buttonLeft button{
  color: rgba(182, 78, 165, 0.922);
  border: none;
  transform: scale(1.5);

}

.buttonRight button:hover{
  transform: scale(2);
}

.buttonLeft button:hover{
  transform: scale(2);
}



