footer{
    background-color: rgb(23, 23, 25);
    padding: 8%;
    color: white;
    text-shadow: 2px 2px black;

}
.footerTitle{
    border-bottom: 1px solid rgb(211, 203, 210);
    padding: 2%;
}

.footBox{
    display: flex;
    width: 35%;
    margin-left: -8%;
}

.footBox p{
    text-align: center;
}

.footList{
    
}


footer ul{
    list-style: none;
    margin-right: 60%;
    
}

footer ul li{
    margin-left: 44%;
    font-size: 20px;
    width: 150%;
}