footer{
    background-image: url("../ImagesWeb/fondo26.jpg");
    background-size: cover;
    background-position: center;
    padding: 8%;
    color: rgb(229, 233, 241);
    text-shadow: 2px 2px black;
    border-top: 5px solid rgb(244, 238, 243);
    

}
.footerTitle{
    border-bottom: 1px solid rgb(211, 203, 210);
    padding: 2%;
}

.footBox{
    display: flex;
    width: 35%;
    margin-left: -8%;
}

.footBox p{
    text-align: center;
}

.footList{
    
}


footer ul{
    list-style: none;
    margin-right: 60%;
    
}

footer ul li{
    margin-left: 44%;
    font-size: 20px;
    width: 150%;
    
    
}

.linkPaginas{
    display: inline-flex;
    width: 9%;
    margin-left: 13%;
    transition: all 0.5s ease;
    
}

.linkPaginas li{
    transition: all 0.5s ease;
}

.linkPaginas li:hover{
    transform: scale(1.1);
    color: rgb(182, 78, 165);
}


.linkPaginas button{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    transition: all 0.5s ease;
   
}

.linkPaginas button:hover{
    color: rgb(228, 94, 204);
    
}