.footBox{
    display: flex;
    width: 35%;
    margin-left: -8%;
    
}

.footBox p{
    text-align: center;
}

.footList{
    
}

footer{
    background-color: rgb(92, 37, 92);
    padding: 8%;
    color: white;
    text-shadow: 2px 2px black;

}

footer ul{
    list-style: none;
    margin-right: 60%;
    
}

footer ul li{
    margin-left: 44%;
    font-size: 20px;
    width: 150%;
}