body{background-color: rgb(162, 125, 196);}

.contextBox{
    
    background-color: rgb(20, 20, 21);
    background-image: url("../ImagesWeb/fondo29.jpg");
    background-size: cover;
    background-position: 0px 41%;
    border-bottom: 2px solid rgb(244, 238, 243);
    

}

.headerBox h1{
    font-size: 40px;
    color: rgba(182, 78, 165, 0.922);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 0;
    top: 1px;
    padding-left: 2%;
}

/* Textos de entrada */
.headerTextBox{
    padding: 4%;
    display: inline-flex;
    padding-top: 12%;
}

.headerText{
    color: white;
    display: inline-block;
    font-size: 25px;
    padding: 2%;
    margin: 1%;
    background-color: rgba(255, 255, 255, 0.196);
    border-bottom: 4px solid rgba(168, 70, 152, 0.922);
    transition: all 1s ease;
}

.headerText:hover{
    background-color: rgba(255, 255, 255, 0.477);
    text-shadow: 2px 1px black;
}

.headerText h2{
    text-shadow: 2px 2px black;
    padding: 2%;
    color: rgba(221, 101, 201, 0.918);
}

/* Botonera superior */
.botoneraBox{
    margin-left: 1%;
    margin-left: 0;
    background-color: rgb(244, 238, 243);
    position: fixed;
    width: 100%;
    border-bottom: 3px solid rgb(139, 75, 139);
}

.botoneraUl{
    display: inline-flex;
    list-style: none;
    margin-left: 50%;
    margin-top: 1.2%;
}

.botonera{
    font-size: 25px;
    color: rgba(120, 20, 120, 0.922);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 18%;
    transition: all 1s ease;
}
.botonera:hover{
    color: rgba(210, 72, 210, 0.922);
}



/* Botonera Inferior */
.botoneraPBox{
    background-image: url("../ImagesWeb/fondo6.jpg");
    background-color: rgb(244, 216, 218);
    background-size: contain;
    
}
.botoneraPUl{
    display: inline-flex;
    list-style: none;
    margin-left: -49%;
    margin-top: 2%;
}

.botoneraP{
    font-size: 28px;
    color: rgba(120, 20, 120, 0.922);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 28%;
    transition: all 1s ease;
    
}

.botoneraP:hover{
    color: rgba(210, 72, 210, 0.922);
}







