body{background-color: rgb(162, 125, 196);}

header{
    padding: 2%;
    border-bottom: 3px solid rgb(239, 238, 244);
    background-color: rgb(20, 20, 21);
}

.headerBox h1{
    font-size: 50px;
    /* background-color: rgba(182, 88, 88, 0.833); */
    width: 40%;
    border-radius: 50px;
    margin-left: 30%;
    color: rgb(227, 230, 235);
    text-shadow: 4px 4px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botoneraBox{
    /* background-color: rgb(214, 164, 72); */
    width: 95%;
    /* background-image: url("../ImagesWeb/fondo6.jpg"); */
    background-size: contain;
    margin-left: 1%;
    
}
.botoneraUl{
    display: inline-flex;
    list-style: none;
    margin-right: 55% ;
}

.botonera{
    font-size: 20px;
    margin-right: 42%;
    color: rgb(224, 226, 234);
    text-shadow: 2px 2px rgb(0, 0, 0);
    text-decoration: none;
    /* background-color: rgb(182, 88, 88); */
    border-radius: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

