.cuadroProducto{
    background-color: rgba(53, 10, 56, 0.409);
    display: inline-block;
    color: rgb(233, 233, 239);
    /* text-shadow: 2px 2px black; */
    margin: 2%;
    width: 19%;    
    padding-right: 4%;
    border-radius: 4px;
    padding: 1%;
    border-bottom: 3px solid white;
  }
  
  .imagenProducto{
     height: 271px;
     width: 100%;
     border-radius: 4px;
  }
  .datosProducto{
    width: 100%;
    
  }

.dato{
  
}

.productosBox{
  background-image: url("../../src/ImagesWeb/fondo25.jpg");
  background-size: cover;
  background-position: 1px -355px;
  padding-bottom: 5%;
  
}