/* caracteristicas Productos */
.seleccionProducto{
  display: inline-block;
  color: rgba(248, 247, 248, 0.931);
  margin: 2%;
  width: 19%;    
  padding-right: 4%;
  border-radius: 220px;
  padding: 5%;
  margin-top: 12%;
  height: 250px;
  text-decoration: none;
  margin-bottom: -9%;
  opacity: 90%;
  transition: all 0.5s ease;
  
  
}

.seleccionProducto:hover{
   transform: scale(1.1);
   opacity: 100%;
  
   
}

.seleccionProducto p{
  font-size: 46px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(241, 233, 233);
  border-bottom: 2px solid pink;
  border-top: 2px solid pink;
  margin-top:37%;
  
}

.seleccionProducto li{
  width: 100%;
  padding: 23%;
}


.cuadroProducto{
  background-color: rgba(59, 15, 54, 0.488);
    display: inline-block;
    margin: 2%;
    width: 22%;    
    padding-right: 4%;
    border-radius: 4px;
    padding: 1%;
    border-bottom: 3px solid rgb(214, 136, 203);
    margin-top: 14%;
    margin-bottom: -8%;
    transition: all 0.5s ease;

  }

.cuadroProducto:hover{
  transform: scale(1.1);
  background-color: rgba(59, 15, 54, 0.729);
}

.botonProducto{
  border: none;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}



/* imagen dentro de producto */
.imagenProducto{
     height: 300px;
     width: 100%;
     border-radius: 4px;
     transition: transform 0.3s ease-in-out;
}

.imagenGrande {
  transform: scale(1.5); /* Agranda la imagen al 150% */
}

  .datosProducto{
    width: 90%;
    padding: 5%;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(248, 247, 248, 0.931);
  }

/* Fondo de Productos */
.productosBox{
  background-image: url("../../src/ImagesWeb/fondo28.jpg");
  background-color: rgb(244, 238, 243);
  background-size: cover;
  background-position: 7px 126px;
  padding-bottom: 20%;
  
}


.productosBox ul{
  width: 94%;
  margin-left: -3%;
}